@page
@model IndexModel
@{
    ViewData["Title"] = "ToDo List";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-page-handler="Create">
    <input type="text" name="title" placeholder="Enter a new task" />
    <select name="category">
        <option value="Work">Работа</option>
        <option value="Education">Учеба</option>
        <option value="Leisure">Свободное время</option>
    </select>
    <input type="submit" value="Добавить задачу" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>Задача</th>
            <th>Категория</th>
            <th>Выполнить</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Tasks != null)
        {
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td>
                        @if (task.IsCompleted)
                        {
                            <del>@task.Title</del>
                        }
                        else
                        {
                            @task.Title
                        }
                    </td>
                    <td>@task.Category</td>
                    <td>
                        <form method="post" asp-page-handler="ToggleCompletion" asp-route-id="@task.Id">
                            <input type="submit" value="Зачеркнуть" />
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@task.Id">
                            <input type="submit" value="Удалить" onclick="return confirm('Точно хотите удалить эту задачу?')" />
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-page-handler="Change" asp-route-id="@task.Id">
                            <input type="text" name="title" value="@task.Title" />
                            <button type="submit">Изменить</button>
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <p>No tasks found.</p>
        }
    </tbody>
</table>
